__pycache__/
env/
google-cloud-sdk/
/Users/fidelangel/Desktop/learning/Flask/decoded-parity-360917-firebase-adminsdk-2xvvp-fe5dc545dc.json
/Users/fidelangel/Desktop/learning/Flask/app/serviceAccountKey.json
decoded-parity-360917-firebase-adminsdk-2xvvp-fe5dc545dc.json
serviceAccountKey.json