
{% extends 'base.html' %}
{% import 'macros.html' as macros %}
{% import 'bootstrap/wtf.html' as wtf %}


{% block title%}
    {{super()}}
    Welcome
{% endblock %}


{% block content %}
    {% if username %}
        <div class="container">
            <h1 text-align="center">Welcome, {{username | capitalize}}</h1>
        </div>
    {% endif %}

    {% if user_ip %}
        <div class="container">
            <h3>
                Your IP is {{user_ip}}
                </h3>
        </div>

    {% else %}
    <div class="container">
        <a text-aling="left" href="{{url_for('index')}}"> ir a inicio</a>
    </div>
    {% endif %}

    <div class="container">
        <h2 text-aling="center">Create a new task</h2>
        
        {{ wtf.quick_form(todo_form) }}
    </div>

    <ul class="list-group">
        <div class="container">
            <h2>Tasks</h2>
            {% for todo in todos %}
            {{macros.render_todo(todo, delete_form, update_form)}}
        </div>
        {% endfor %}
    </ul>
{% endblock %}